body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Hachi Maru Pop', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}




.top-container {
  background-color: #393E46;
  position: relative;
  padding-top: 100px;
}

/* .middle-container {
}

.bottom-container {

} */

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}

.robotic-arm-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.soccer-ball-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}
